body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}


header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.bloco {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 15px;
    border: 2px solid #ccc;
}


hr {
    margin: 30px auto;
    width: 90%;
    max-width: 700px;
    border: none;
    border-top: 2px solid #ddd;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

ol, ul {
    margin-left: 20px;
}
