/* Header */
header {
    background-image: var(--gradiante-princiapal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 4rem;
    position: fixed;
    width: 95%;
    top: 0;
    left: 0;
    z-index: 100;
}

header img {
    width: 5.5rem;
}

/* Menu de navegação */
header ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: large;
}

header ul li div {
    background-color: white;
    height: 0.3rem;
    border-radius: 0.5rem;
}

header a {
    text-decoration: none;
    color: white;
}

/* Responsivo - Tablets */
@media (max-width: 767px) {
    header {
        text-align: center;
        display: block;   
        padding: 0;
    }
    
    header nav {
        display: flex;
        justify-content: center;
    }
    
    header ul {
        font-size: medium;
        gap: 2rem;
        margin-right: 2rem;
    }
}

/* Responsivo - Mobile */
@media (max-width: 425px) {
    header {
        text-align: center;
        display: block;   
        padding: 0;
        margin: 0.6rem;
    }
    
    header ul {
        font-size: 0.8rem;
        gap: 1rem;
    }
}