:root{
    --gradiante-princiapal: linear-gradient(#1F2862,#265395);
}
footer{
    position: absolute;
    bottom: 0;
}
article{
    display: flex;
    justify-content: space-around;
    flex: 1;
}
article section li,
article section h1{
    color: white;
}
article section h1{
    font-size: 2.5rem;
}
article section li{
    font-size: 1.5rem;
}
article section{
    background-image: var(--gradiante-princiapal);
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    width: 30rem;
    margin: 0.7rem 0;
}
article section a{
    background-color: white;
    padding: 1rem;
    color: black;
    text-decoration: none;
    border-radius: 0.7rem;
    margin: 2.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
}
@media (max-width:1000px){
    article section{
        width: 24rem;
        padding: 0.8rem 2rem;
    }
    article section h1{
        font-size: 2.1rem;
    }
    article section li{
        font-size: 1.1rem;
    }
    article section a{
        font-size: 0.9rem;
    }
}
@media (max-width:812px){
    article section{
        width: 20rem;
        padding: 0.8rem 2rem;
    }
    article section h1{
        font-size: 1.9rem;
    }
    article section li{
        font-size: 1.1rem;
    }
    article section a{
        font-size: 1rem;
    }
}
@media (max-width:700px){
    article{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    article section{
        width: 30rem;
        padding: 0.8rem 2rem;
        margin: 2rem;
    }
    article section h1{
        font-size: 1.9rem;
    }
    article section li{
        font-size: 1.1rem;
    }
    article section a{
        font-size: 1rem;
    }
    footer{
        position: static;
        bottom: auto;
    }
}
@media (max-width: 600px){
    article section{
        width: 20rem;
        padding: 0.5rem 1.5rem;
        margin: 2rem;
    }
    article section h1{
        font-size: 1.5rem;
    }
    article section li{
        font-size: 0.8rem;
    }
    article section a{
        font-size: 0.7rem;
    }
}
@media (max-width: 365px){
    article section{
        width: 15rem;
    }
}

