@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
hr {
    border: 2px solid black;
    margin: 2em 1.5rem;
}
img{
    border-radius: 0.5em;
}
body {
    background-color: #E7ECEC;
}
a{
    text-decoration: none;
}
header h1{
    font-size: 3rem;
}
header a,
header a:visited,
header a:active{
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #028DA5;
    color: white;
    padding: 1em;
    align-items: center;
}

header ul{
    display: flex;
    gap: 5em;
    align-items: end;
    padding: 0.6em 3em 0em 0em;
}
header ul li{
    list-style: none;
}
header ul li > a{
    color: white; 
}

main{
    padding: 1em 2em 0em 1em
}

main a{
    color: #0D9B8A;
}
#resumo h2{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
#mainFlex{
    margin: 1em 0.5em;
    display: flex;
    justify-content: space-between;
}
#mainFlex div p {
    font-size: 1.5rem;
    width: 40rem;
    margin-left: 1.5rem
}
#mainFlex div{
    margin-left: 2rem;
}

#imagemMinha{
    height: 30rem;
    margin-right: 10rem;
}

#curiosidades,#jaConheci,#queroConhecer{
    padding: 1em 2em 0em 1em
}
#curiosidades div h2,
#jaConheci > h2,
#queroConhecer > h2{
    font-size: 3.5rem;
}
#jaConheci ol,
#queroConhecer ul{
    margin: 0.5em 0em;
}
.divisaoLugares{
    display: flex;
    margin: 1em 0em;
    gap: 11em;
}
.divisaoLugares img{
    height: 15em;
}
.divisaoLugares div li{
    text-align: center;
    font-size: larger;
}

#curiosidades-conteudo{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 6rem;
}
#curiosidades-conteudo div{
    position: absolute;
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#curiosidades-conteudo div p{
    transform: rotate(-45deg);
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    max-width: 180px;
}
#cima{
    top: -40px;
    left: 50%;
    margin-left: -110px;
}
#esquerda{
    top: 50%;
    left: -40px;
    margin-top: -110px;
}
#direita{
    top: 50%;
    right: -40px;
    margin-top: -110px;
}
#embaixo{
    bottom: -40px;
    left: 50%;
    margin-left: -110px;
}
#direita,
#esquerda{
    background-color: #028DA5;
    color: white;
}
#cima,
#embaixo{
    color: black;
    background-color: white;
}
#curiosidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#curiosidades > div{
    display: flex;
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #028DA5;
    justify-content: center;
    color: white;
    padding: 1em;
}
footer img{
    width: 1.5rem;
}
footer div{
    display: flex;
}
footer a{
    color: white;
}
footer hr{
    width: 95%;
    border: 2px solid white;
}
#contatos{
    width: 90%;
    justify-content: space-around;
    display: flex;
}
#contatos div{
    display: flex;
    gap: 2rem;
}

